@model TourOperator.Models.Default

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Default</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DefaultPackages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefaultPackages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PackageID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PackageID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PackageType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PackageType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TourFare)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TourFare)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
