
@{
    ViewBag.Title = "Index";
}


<h2>Welcome, This is Admin page</h2>

<div>
    <div class="container body-content">
        <h2>

            @HttpContext.Current.User.Identity.Name, Welcome to Sri-Lanka
        </h2>
        <h3>Wonder of Asia</h3>



        <hr />
    </div>
</div>

@Html.ActionLink("View Tourists Details", "Index", "Tourists") |
@Html.ActionLink("View Admin Details", "Index", "Administrations") |
@Html.ActionLink("Add Tour Locations", "Create", "Locations") |
@Html.ActionLink("View Tour Locations", "Index", "Locations")
<hr />
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "SystemUsers", FormMethod.Post, new { id = "logoutForm" }))
    {
        <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
    }
}